/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  background: #0b192f;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Your styles go here */

/************************** header ***********************/

header {
  background: #162b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

header .logo {
  margin-left: 25px;
  text-decoration: none;
  font-size: 44px;
  font-weight: 100;
  color: #fff;
}

header .logo span {
  color: #d12767;
}

header nav {
  margin-right: 40px;
  height: 100%;
}

header nav ul {
  height: 100%;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: block;
  padding: 40px 20px;
}

header nav ul li:hover a {
  color: #b8b8b8;
  background: #23447b;
}

header button {
  display: none;
}

@media only screen and (max-width : 768px) {
  header nav {
    display: none;
  }
  header button {
    display: block;
    color: #fff;
    background: rgba(0,0,0,0);
    border: 0;
    font-size: 18px;
    margin-top: 30px;
  }
  header button:hover {
    cursor: pointer;
    color: #d12767;
  }
  header {
    flex-direction: column;
  }
  header .logo {
    margin: 40px 0;
  }
}

@media only screen and (max-width : 480px) {
  header .logo {
    font-size: 34px;
  }
}
/************************** main ***********************/

main {
  margin: 25px 15px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width : 480px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/************************** aside ***********************/

aside {
  width: 24%;
}

aside .blog {
  background: #fff;
  margin-bottom: 25px;
}

aside .blog img {
  width: 100%;
}

aside .blog h3 {
  margin: 30px 35px 10px;
  font-size: 34px;
  font-weight: 100;
  line-height: 38px;
}

aside .blog p {
  margin: 0 35px 0;
  line-height: 28px;
  font-weight: 200;
  color: #717070;
  padding-bottom: 35px;
}

@media only screen and (max-width : 768px) {
  aside {
    width: 40%;
  }
  aside .blog h3 {
    font-size: 24px;
    line-height: 28px;
  }
  aside .blog p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width : 480px) {
  aside {
    width: 100%;
  }
}

/************************** article ***********************/

.news {
  max-width: 74%;
}

.news > section {
  display: flex;
  flex-wrap: wrap;
}

.news > section:nth-child(2n) {
  flex-direction: row-reverse;
}

.news > section > div {
  width: 50%;
}

.news > section > div:hover {
  cursor: pointer;
}

.news .post-1 {
	background: #B71757;
}
.news .post-2 {
	background: #0D7E71;
}
.news .post-3 {
	background: #b1660e;
}
.news .post-4 {
	background: #d12767;
}
.news .post-5 {
	background: #2d95bb;
}

.news > section > div:first-child:hover::after,
.news > section .news-text:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.news > section .news-img1 {
  background: url(../assets/post1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.news > section .news-img1:hover::after,
.news > .post-1 .news-text:hover::after {
  background: rgba(183,23,87,0.5);
}
.news > section .news-img2 {
  background: url(../assets/post2.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.news > section .news-img2:hover::after,
.news > .post-2 .news-text:hover::after {
  background: rgba(13,126,113,0.5);
}
.news > section .news-img3 {
  background: url(../assets/post3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.news > section .news-img3:hover::after,
.news > .post-3 .news-text:hover::after {
  background: rgba(177,102,14,0.5);
}
.news > section .news-img4 {
  background: url(../assets/post4.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.news > section .news-img4:hover::after,
.news > .post-4 .news-text:hover::after {
  background: rgba(209,39,103,0.5);
}

.news > section .news-text {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 55px;
  position: relative;
}

.news > section:nth-child(2n) .news-text {
  flex-direction: row-reverse;
  text-align: right;
}

.news > section .news-text .news-text-desk {
  max-width: 350px;
}

.news > section .news-text h2 {
  font-size: 50px;
  margin: 40px 25px 20px;
  color: #fff;
  font-weight: 100;
  line-height: 62px;
}

.news > section .news-text p {
  color: rgba(255,255,255,0.7);
  margin: 0 25px 40px;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
}

.news > section .news-text .news-text-data {
  margin: 0 auto;
}

.news > section .news-text .news-text-data p {
  margin: 15px 15px;
  color: rgba(255,255,255,0.5);
  font-size: 56px;
  font-weight: 100;
  margin-bottom: 5px;
  line-height: 56px;
  text-align: left;
}

.news > section .news-text .news-text-data span {
  font-size: 34px;
}

.news > section:last-child > div {
  width: 100%;
  padding: 0;
  flex-wrap: nowrap;
}

.news > section img {
  display: none;
}

@media only screen and (max-width : 768px) {
  .news {
    max-width: 57%;
  }
  .news > section > div {
    width: 100%;
  }
  .news > section > div img {
    display: block;
    width: 100%;
  }
  .news > section .news-text h2 {
    font-size: 44px;
    line-height: 48px;
    text-align: left;
  }
  .news > section .news-text p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
  .news > section .news-text .news-text-desk {
    max-width: 100%;
  }
  .news > section .news-text .news-text-data p {
    font-size: 46px;
    line-height: 46px;
  }
  .news > section .news-text .news-text-data span {
    font-size: 24px;
  }
  .news > section .news-text {
    padding-bottom: 0;
  }
  .news > section:last-child > div {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width : 480px) {
  .news {
    max-width: 100%;
  }
}

/************************** footer ***********************/

footer {
  background: #162b4d;
  display: flex;
  justify-content: space-between;
  margin: 0 15px 5px;
}

footer p {
  color: rgba(255,255,255,0.6);
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  margin: 35px 40px;
}

@media only screen and (max-width : 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  footer p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }
}