$bodyColor: #efefef;
$headerBackground: url(../img/header_background_v2.jpg);
$menuBorderColor: #cfd8dc;
$headerTextColor: #ff5747;
$fonts: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontSizeS: 18px;
$fontSizeL: 26px;
$btnBackgroundColor: #0401ac;
$btnColor: #fff;
$mainWidth: 991px;
$searchColor: #757575;
$articleColor: #fff;
$postDescColor: #bdbdbd;
$postDescBorderColor: #cfd8dc;
$postHColor: #607d8b;
$postPColor: #757575;
$formTextColor: #607d8b;
$formBorderColor: #cfd8dc;