$bodyColor: #fff;
$headerBackground: url(../img/header_background_v1.jpg);
$menuBorderColor: #607d8b;
$headerTextColor: #ececec;
$fonts: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSizeS: 15px;
$fontSizeL: 24px;
$btnBackgroundColor: #01acac;
$btnColor: #fff;
$mainWidth: 991px;
$searchColor: #000;
$articleColor: #efefef;
$postDescColor: #e90303;
$postDescBorderColor: #607d8b;
$postHColor: #0097a7;
$postPColor: #010f16;
$formTextColor: #5297af;
$formBorderColor: #607d8b;